.textwidget{
	-webkit-user-select: auto;
	user-select: auto;
}

@media only screen and (min-width : 650px) {
  .source.button {
    display: none;
  }
  .main.menu {
    display: none;
  }

  .fixed.launch.button {
    display: none;
  }
}



    .alternate.stripe {
        background-color: #F2F3F5;
    }

    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .secondhead.segment {
      min-height: 250px;
      padding: 1em 0em;
    }

    .secondhead .ui.header {
      font-weight: normal;
      padding: 0.6em 0em;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }

    .ui.vertical.stripe ul {
      font-size: 1.33em;
    }

    .ui.vertical.stripe li {
      font-size: 1.33em;
    }

    .ui.vertical.stripe ul li{
      font-size: 1.33em;
    }

    .ui.quoteimage img{
      height: 120px;
      padding: 20px 0;
    }


    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }

    .ui.vertical.stripe .bulleted.list {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }
    .ui.quotes p {
      font-size: 1.2em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }




  @media only screen and (max-width: 700px) {
    .ui.fixed.menu.following {
      display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }
    .masthead.segment {
      min-height: 350px;
    }
    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }
    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  }

/*----------------
     Pages
-----------------*/

.ui.main{
	margin:4em 0 4em 0;
}


/*--------------
    Masthead
---------------*/

.headerimage.segment.zoomed h1 {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 1);
}
.headerimage.zoomed:after {
  opacity: 0;
}
.headerimage.zoomed {
  background-color: #25282A;
}

.headerimage {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 0em;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0px;
  border-bottom: none;

  background-color: #000000;
  background-position: 50% 50%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.headerimage:after {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  background-image: url(../images/successful_workers_bg.jpg);
  height: 100%;
  content: '';
  background-size: cover;
  opacity: 0.15;
  background-size: cover;
  background-repeat: initial;
  background-position: center center;
}

.ui.inverted.menu {
    border:none;
}

.ui.secondary.pointing.menu {
		border-bottom:none;
	}

.footer .contact_us {
    color: rgba(255,255,255,.5); 
}